$feedback_height: 400px;
.clients{
    // border: 1px solid palevioletred;
}
.clients__box-item{
    display: flex;
    flex-direction: row;
    //max-height: 420px;
    // max-height: $feedback_height;
    &__image{
        display: flex;
        width: 50%;
        overflow: hidden;
        font-weight:initial;
        // position: relative;
    }
    &__feedback{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        padding-top: 80px;
        padding-left: 54px;
        background-color: #53354A;      
    }
}
.feedback__image{
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    object-fit: cover;
    object-position: left top;
}
.feedback_two{
    background-color: lightcoral;
}
.feedback_three{
    background-color:#5b63a3;
}
.feedback_four{
    background-color: #9264a3;
}
.feedback__text{
    // max-height: $feedback_height;
    font-family: 'Cardo';
    font-size: 35px;
    max-width: 500px;
    padding-bottom: 30px;
    color: #ffffff;
}
.feedback__autor{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}


//Slider Styles
.slick-slider{
    position: relative;
}
.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
}


.clients__slider .slick-arrow{
    font-size: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff;
    // top:50%;
    z-index: 10;
    height: 100%;
    opacity: 0;
    width: 15%;
    border: 0;
    outline: none;
    transition: all linear 0.3s;
    &:hover{
        opacity: 0.2;
    }

}
.clients__slider .slick-prev{
    left: 0;
    background-image: url('../img/slider/prev.png');
    background-repeat: no-repeat;
    background-position: center;

}
.clients__slider .slick-next{
    right: 0;
    top: 0;
    background-image: url('../img/slider/next.png');
    background-repeat: no-repeat;
    background-position: center;

}

.clients__slider .slick-dots{
    display: flex;
    list-style: none;
    position: absolute;
    width: 50%;
    bottom: 70px;
    right: 0;
    justify-content: center;
}

.clients__slider .slick-dots button{
    font-size: 0;
    display: none;
   
}
.clients__slider .slick-dots li{
    width: 10px;
    height: 10px;
    border:  0;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #ffffff;
    opacity: 0.3;
    transition: all linear 0.3s;

}
.clients__slider .slick-dots .slick-active{
    background-color: #fff;
    opacity: 0.8;
    transform: scale(1.4);
}
@media screen and (max-width: 1100px){
    .clients__box-item__image{
        display: none;
    }
    .clients__box-item__feedback{
        text-align: center;
        align-items: center;
        width: 100%;
        padding-left: 0;
        padding-top: 60px;
    }
    .feedback__autor{
        margin-bottom: 80px;
    }
    .feedback__text{
        max-width:80%;
    }
    .clients__slider .slick-arrow{
        opacity: 0.1;
        width: 15%;
        background-color: rgba(255,255,255,0.0);
        &:hover{
            opacity: 0.1;
        }
    }
    .clients__slider .slick-dots{
        width: 100%;
        bottom: 40px;
    }
}