$feedback_height: 400px;
.clients{
    // border: 1px solid palevioletred;
}
.clients__box-item{
    display: flex;
    flex-direction: row;
    // max-height: $feedback_height;
    &__image{
        width: 50%;
        max-height: $feedback_height;
        overflow: hidden;
        font-weight:initial;
    }
    &__feedback{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-left: 54px;
        background-color: #53354A;       
    }
}
.feedback_two{
    background-color: lightcoral;
}
.feedback_three{
    background-color:#5b63a3;
}
.feedback_four{
    background-color: #9264a3;
}
.feedback__image{
    // max-height: $feedback_height;
    display: block;
    width: 100%;
}
.feedback__text{
    // max-height: $feedback_height;
    font-family: 'Cardo';
    font-size: 36px;
    max-width: 510px;
    padding-bottom: 30px;
    color: #ffffff;
}
.feedback__autor{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}


//Slider Styles
.slick-slider{
    position: relative;
}
.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
}


.clients__slider .slick-arrow{
    font-size: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #fff;
    // top:50%;
    z-index: 10;
    height: 100%;
    opacity: 0;
    width: 15%;
    border: 0;
    outline: none;
    transition: all linear 0.3s;
    &:hover{
        opacity: 0.2;
    }

}
.clients__slider .slick-prev{
    left: 0;
    background-image: url('../img/slider/prev.png');
    background-repeat: no-repeat;
    background-position: center;

}
.clients__slider .slick-next{
    right: 0;
    top: 0;
    background-image: url('../img/slider/next.png');
    background-repeat: no-repeat;
    background-position: center;

}

.clients__slider .slick-dots{
    display: flex;
    list-style: none;
    position: absolute;
    width: 50%;
    bottom: 30px;
    right: 0;
    justify-content: center;
}

.clients__slider .slick-dots button{
    font-size: 0;
    display: none;
   
}
.clients__slider .slick-dots li{
    width: 10px;
    height: 10px;
    border:  0;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #ffffff;
    opacity: 0.3;

}
.clients__slider .slick-dots .slick-active{
    background-color: #fff;
    opacity: 0.9;
}