.footer {
}
.container_footer {
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}
.footer__box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 100%;
}
.footer__info {
    display: flex;
    justify-content: center;
    padding: 72px 15px;
    padding-bottom: 60px;
    background-color: #3A3E64;
}
.footer__info-item {
    max-width: 380px;
    width: 100%;
    text-align: center;
}
.footer__copyright {
    background-color: #313454;
    padding: 30px 0;
}

/* FONTS */
.item__header{
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    margin-bottom: 20px;
}

.location__adress {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
    max-width: 150px;
    margin: 0 auto;
    line-height: 22px;
    transition: all linear 0.2s;
}

.about__text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
    max-width: 330px;
    margin: 0 auto;
    line-height: 22px;
}

.fab_header{
    border: 2px solid rgba(255, 255, 255, 0.9);
    color: rgba(255, 255, 255, 0.9);
}
.fab_header:hover{
    color: rgba(255, 255, 255, 1);
}

.copyright__rights{
    font-size: 14px;
    color: #808080;
}
.copyright__autor{
    font-size: 14px;
    color: #808080;
}
.copyright__autor-whith{
    color: rgba(255, 255, 255, 0.9);
}
.fas{
    font-size: 10px;
    color: #E84545;
    transform: skew(7deg);
}

/* For_Menu */
i {
    font-family: fontawesome !important;
    }
#footer__check_1,
#footer__check_2,
#footer__check_3{
    display: none;
}
.footer__lable{
    width: 30px;
    height: 30px;
    /* border: 1px solid #ffffff; */
    border-radius: 50%;
    background-color: #ffffff;
    display: none;
}
.fa-plus-circle{
    font-size: 38px;
    color: #15c24f;
    position: relative;
    transition: all linear 0.2s;
}
.item_info_box{
    transition: all 0.3s;
}
#footer__check_1:checked ~.item_info_box,
#footer__check_2:checked ~.item_info_box,
#footer__check_3:checked ~.item_info_box{
    display: block;
}

#footer__check_1:checked ~.footer__lable .fa-plus-circle,
#footer__check_2:checked ~.footer__lable .fa-plus-circle,
#footer__check_3:checked ~.footer__lable .fa-plus-circle{
    /* transform: scaleY(-1); */
    transform: rotate(135deg);
}

/* Adaptive */
@media screen and (max-width: 1000px){
    .footer__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__info-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    .item__header{
    margin: 0;
    padding: 15px 0;
}
    .location__adress,
    .social__links,
    .about__text{
        max-width: 100%;
        margin: 0;
        padding: 10px 0;
    }



    /* Menu */
    .item__header__box{
        width: 100%;
        padding-left: 10px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .item__header{
        color: #ffffff;
    }
    .footer__info-item{
        max-width: 600px;
        position: relative;
        border: 2px solid #ffffff;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .footer__lable{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:9px;
        right: 8px;
    }
    .item_info_box{
        margin: 0 10px;
        display: none;
    }
}