.masterhead{
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    /* height: 100%; */
    color: #ffffff;
  
}
.fullscreen{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    max-width: 1170px;
    width: 100%;
    justify-content: space-between;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 38px 0;
}
.navigation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin: 0 -20px; */
}
.navigation__box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    &-item:nth-child(5){
        margin-right: -20px;
    }
}
.masterhead-content__box{
    margin: 0 auto;
    padding: 60px 0;
    margin-top: auto;
    margin-bottom: auto;
}

// Mobile
#navi-checkbox{
    display: none;
}
.navi__label{
    display: none;
}
.navi-lable_line{
    width: 35px;
    height: 2px;
    background-color: #e0e0e0;
    border: 0;
    box-sizing: border-box;
    transition: all 0.3s;
    align-self: center;
    &:nth-child(1){
        position: relative;
        top: -5px;
        transition: all 0s;
    }
    &:nth-child(2){
        position: relative;
        top: 2px;
    }
    &:nth-child(3){
        position: relative;
        top: 0px;
    }
    &:nth-child(4){
        position: relative;
        top: 7px;
        transition: all 0s;
    }
}
#navi-checkbox:checked ~ .navigation__box{
    justify-content: flex-start;
    background: url('../img/background.jpg');
    //background-color:#313454;
    // height: 100vh;
}
#navi-checkbox:checked ~ .navigation__box .navigation__box-item .navigation__link{
    font-size: 25px;
    padding: 25px 0;
    // background-color:#3A3E64;
    width: 100%;
}

#navi-checkbox:checked ~ .navi__label .navi-lable_line:nth-child(3n+1){
    visibility: hidden;
}
#navi-checkbox:checked ~ .navi__label .navi-lable_line:nth-child(2){
    transform: rotate(45deg);
}
#navi-checkbox:checked ~ .navi__label .navi-lable_line:nth-child(3){
    transform: rotate(-45deg);
}

/* FONTS */
.masterhead__title{
    max-width: 860px;
    margin: 40px auto;
}
.masterhead__text{
    max-width: 912px;
    font-size: 22px;
    margin: 0 auto;
    margin-bottom: 70px;
}
/* LINKS */
.navigation__link{
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 20px;
    color: rgba(255, 255, 255, 0.7);
    transition: all  0.3s;
    position: relative;
}
.link-hover{
    display: inline-block;
    transition: all  0.2s;
}

.navigation__link:hover {
    color: rgba(255, 255, 255, 1);
    transform: scale(1.2);
}

.masterhead__button__link{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    background-color: #E84545;
    padding: 10px 30px;
    transition: all linear 0.3s;
}
.masterhead__button__link:hover{
    background-color: #ffffff;
    color: #000000;
}

/* Adaptive */
@media screen and (max-width: 800px){
    .header{
        flex-direction: column;
        // align-items: center;
        padding: 20px 0;
        padding-bottom: 10px;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        position: relative;
        top: -20px;
        width: 100%;
        // margin: 0 auto;
    }
    .navi__label{
        display: block;
        align-self: flex-end;
    }
    .navigation__box{
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        position: absolute;
        width: 100%;
        top:39px;
        transition:  all linear 0.3s;
        &-item:nth-child(5){
            margin:0;
        }
    }
    .navigation__box-item{
        width: 100%;
    }
    .navigation__link{
            display: block;
            font-size: 0;
            padding: 0;
        }
    .logo{
        align-self: flex-start;
    }
}