.team__box{
    padding: 75px 0;
    margin: 0 -10px;
}
.team__cards__slider{
    display: none;
    position: relative;
}
.team__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.team__cards-item{
    max-width: 270px;
    text-align: left;
    margin: 25px 10px;
}
.item__social{
    margin-top: 30px;
}


/* FONTS */
.item__name {
    font-size: 22px;
    margin-top: 20px;
}
.item__job {
    font-size: 13px;
    margin-top: 12px;
    text-transform: uppercase;
    color: #E84545;
}
.item__info {
    font-size: 14px;
    margin-top: 20px;
    color: #6C7279;
    line-height: 21px;
}
.social-link{
}
.fab{
    text-align: center;
    width: 41px;
    height: 41px;
    font-size: 25px;
    padding-top: 7px;
    color: #6C7279;
    border: 1px solid #6C7279;
    transition: all linear 0.2s;
}
.fab:hover{
    color: #405ce5;
    transform: scale(1.1);
}

@media screen and (max-width: 1190px){
    .team__box{
        max-width: 700px;
        margin: 0 auto;
    }
    .team__cards{
        justify-content: space-around;
    }
    .team__cards-item{
        max-width: 270px;
        text-align: left;
        margin: 25px 10px;
    }
}
@media screen and (max-width: 770px){
    .team__cards{
        display: none;
    }
    .team__cards__slider{
        display: block;
    }
    .team__cards__slider .team__cards-item{
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team__cards__slider .item__info{
        text-align: center;
        padding: 0 40px;
    }
    .team__cards__slider .slick-arrow{
        font-size: 0;
        margin: 0;
        padding: 0;
        border: 0;
        outline: none;
        display: none;
    }

    .team__cards__slider .slick-dots{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 100%;
        margin-top: 10px;
        list-style: none;
        width: 100%;
        justify-content: center;
    }
    .team__cards__slider .slick-dots button{
        font-size: 0;
        display: none;
    }
    .team__cards__slider .slick-dots li{
        width: 10px;
        height: 10px;
        border:  0;
        border-radius: 50%;
        background-color: #000000;
        opacity: 0.3;
        margin: 0 15px;
        transition: all linear 0.3s;
    }
    .team__cards__slider .slick-dots .slick-active{
        background-color: #E84545;
        opacity: 0.9;
        transform: scale(1.4);
    }
}